html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

/*
  Start screen
 */
#start {
    background-color: lightblue;
    position: absolute;
    z-index: 15;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .25rem;
    width: 100%;
    height: 100%;
}

img {
    position: absolute;
}

img:nth-of-type(1) {
    top: 3rem;
    left: 1rem;
}

img:nth-of-type(2) {
    top: 3rem;
    right: 1rem;
}

/*
    Lobby screen
 */
#lobby {
    background-color: lightblue;
    position: absolute;
    z-index: 10;
    padding: .5rem 2rem 2rem;
    top: 25%;
    left: 40%;
}

/*
    Game screen
 */
#game {
    z-index: 5;
}

#container {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    outline: none;
}

#players-list-game{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 2;
}

.element-player-list{
    padding: .5rem;
    background-color: lightblue;
    border: 1px solid black;
}

.sub-element-player-list{
    position: absolute;
    display: block;
    top: 0;
}

.element-player-list:hover > .sub-element-player-list {
    display: block !important;
}

#money-container{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: lightblue;
    color: black;
    border: 1px solid black;
    z-index: 2;
    padding: .5rem;
}